$back-color: #E4DEFD;
$sub-color: #0047FF;

$font-color: #594389;

$grandient-colorA: #FFFFFF;
$grandient-colorB: #8F99F4;

$deco-colorA: #00C2FF;
$deco-colorB: #7000FF;


$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-vertical-small:6rem;
$gutter-horizontal:6rem;
$gutter-horizontal-small:1.5rem;